body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
.flexible-container{
padding-left: 5%;
display: flex;
}
.half-width{
    width: 55%;
    
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}

.top-banner{
    background-image: url("banner.png");
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;

}
.item{
    color: orange;
}
.experience-area{
    background-image: url(Untitled-1.png);
    background-repeat: no-repeat;
    background-position: left;
    border-left: 10px solid;
}